@charset "UTF-8";
body {
  width: 100%;
  height: 100vh;
  background-color: #F1F1F1;
  font-size: 0.8125rem;
}

.navbar-brand {
  margin-right: 0rem;
  margin-left: 1rem;
}

.m-t-xs {
  margin-top: 0.3rem;
}

.m-t-sm {
  margin-top: 0.6rem;
}

.m-t-md {
  margin-top: 1rem;
}

.m-t-lg {
  margin-top: 1.2rem;
}

.m-t-xlg {
  margin-top: 1.8rem;
}

.m-t-none {
  margin-top: 0;
}

.m-b-xs {
  margin-bottom: 0.3rem;
}

.m-b-sm {
  margin-bottom: 0.6rem;
}

.m-b-md {
  margin-bottom: 1rem;
}

.m-b-lg {
  margin-bottom: 1.2rem;
}

.m-b-xlg {
  margin-top: 1.8rem;
}

.m-b-none {
  margin-top: 0;
}

.m-r-xs {
  margin-right: 0.3rem;
}

.m-r-sm {
  margin-right: 0.6rem;
}

.m-r-md {
  margin-right: 1rem;
}

.m-r-lg {
  margin-right: 1.2rem;
}

.m-r-none {
  margin-right: 0;
}

.m-l-xs {
  margin-left: 0.3rem;
}

.m-l-sm {
  margin-left: 0.6rem;
}

.m-l-md {
  margin-left: 1rem;
}

.m-l-lg {
  margin-left: 1.2rem;
}

.m-l-none {
  margin-left: 0;
}

.no-paddings {
  padding: 0;
}

.p-v-sm {
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
}

button {
  cursor: pointer;
}

.underline {
  text-decoration: underline;
}

.valid-info {
  display: none;
}

.invalid-feedback.valid-info {
  display: block;
}

.has-danger .valid-info {
  display: block;
  color: #F57A00;
}

.dd-favorite-headers .di-favorite-header {
  max-width: 20rem;
  text-overflow: ellipsis;
  overflow: hidden;
}

.btn-toggle-panel {
  text-decoration: none;
  cursor: pointer;
}

#wrapper {
  background-color: #F1F1F1;
  padding-bottom: 25px;
}

.dropdown-item-checked::before {
  position: absolute;
  left: .4rem;
  content: '✓';
  font-weight: 600;
}

.request-container .authentication-mode {
  display: none;
  box-shadow: 0 0 0 2px rgba(235, 102, 82, 0.4);
  z-index: 999;
}

.request-container .authentication-mode button:first-child {
  padding-left: 10px;
}

.request-container .authentication-mode .btn-auth-mode,
.request-container .authentication-mode .btn-close {
  background-image: none;
  border: none;
  font-size: 10px;
  border-radius: 0;
  outline: 0;
  box-shadow: none;
  background-color: #eb6651;
  padding-bottom: 2px;
}

.request-container .authentication-mode .dropdown-menu {
  left: -2px !important;
  border-radius: 0;
}

.request-container .authentication-mode.active {
  display: inline-flex;
}

.request-container .title {
  margin-left: 0.1rem;
  font-family: Consolas, Monaco, monospace;
}

.request-container .card-block {
  padding: 0.5rem;
}

.request-container .card-title {
  color: #aaa;
}

.request-container .request-form {
  margin-top: 0.5rem;
}

.request-container .request-form .input-group-addon {
  border: none;
  outline: 0;
}

.request-container .request-form input:focus {
  outline: 0;
}

.request-container .request-form .input-group-addon:hover {
  text-decoration: none;
  color: #fff;
  background-color: #555;
}

.request-container .request-form label {
  padding-right: 0.5rem;
  color: #aaa;
}

.request-container .request-form input {
  color: #000;
}

.request-container .request-form .ig-request-method {
  width: 8rem;
  margin-right: 0.5rem;
}

.request-container .request-form .ig-request-method .input-group-addon {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.request-container .request-form .request-combo {
  flex: 1;
}

.request-container .request-form .request-combo #dd-response-type {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border: 1px solid #DDD;
  border-right: 0 !important;
}

.request-container .request-form .request-combo #request-url {
  border: 1px solid #DDD;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  border-left: 0 !important;
}

.request-container .request-form .ig-request-method:focus-within input,
.request-container .request-form .request-combo:focus-within input {
  border: #d9230f solid 1px !important;
}

.request-container .request-form .ig-request-method:focus-within .input-group-addon,
.request-container .request-form .request-combo:focus-within .input-group-addon {
  border: #d9230f solid 1px !important;
  background-color: #d9230f;
  text-decoration: none;
  color: #fff;
}

.request-container .request-form .ig-request-url {
  flex: 1;
  margin-right: 0.5rem;
  display: flex;
}

.request-container .request-form .ig-request-url #dd-request-urls {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.request-container .request-form .ig-request-url #request-urls-dropdown {
  transform: translate3d(-1px, 34px, 0px) !important;
}

.request-container .request-form .ig-request-url #request-urls-dropdown .dropdown-item {
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

.request-container .request-form button[type="submit"] {
  width: 5rem;
}

.request-container .request-form .div-request-headers .card-block {
  padding-bottom: 0;
}

.request-container .request-form .div-request-headers .list-request-headers {
  line-height: 1.5;
}

.request-container .request-form .div-request-headers .list-request-headers .badge {
  background-color: #eee;
  color: #555;
  font-weight: 500;
  margin-right: 0.5rem;
  line-height: 1rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
  max-width: 400px;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  padding-right: 2rem !important;
}

.request-container .request-form .div-request-headers .list-request-headers .badge .btn-remove-header {
  text-decoration: none !important;
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background-color: #999;
  color: #fff !important;
  border-radius: 10px;
  line-height: 1.15;
  font-size: 0.75rem;
  margin-left: 0.5rem;
  position: absolute;
  left: auto;
  right: 0.5rem;
}

.request-container .request-form .div-request-headers .list-request-headers .badge .btn-remove-header:hover {
  background-color: #d9230f;
}

.request-container .request-form .div-request-headers .btn-remove-all-headers {
  float: right;
  font-size: 0.7rem;
  color: #aaa;
  border-color: #fff;
  border-radius: 0.25rem;
}

.request-container .request-form .div-request-headers .btn-remove-all-headers:hover,
.request-container .request-form .div-request-headers .btn-remove-all-headers:focus {
  color: #333;
}

.request-container .request-form .div-request-body .btn-form-data {
  padding: 0;
  color: #ccc;
  outline: 0 !important;
  border: none !important;
}

.request-container .request-form .div-request-body .btn-form-data.active {
  color: #f00;
}

.request-container .request-form .div-request-body #request-body {
  flex: 1;
  height: 140px;
  line-height: 22px;
  font-family: monospace;
}

.response-container {
  margin-bottom: 1.2rem;
}

.response-container .response-type {
  display: none;
  box-shadow: 0 0 0 2px rgba(235, 102, 82, 0.4);
  z-index: 999;
}

.response-container .response-type button:first-child {
  padding-left: 10px;
}

.response-container .response-type .btn-response-type,
.response-container .response-type .btn-close {
  background-image: none;
  border: none;
  font-size: 10px;
  border-radius: 0;
  outline: 0;
  box-shadow: none;
  background-color: #eb6651;
  padding-top: 2px;
  padding-bottom: 2px;
}

.response-container .response-type .dropdown-menu {
  left: -2px !important;
  border-radius: 0;
}

.response-container .response-type.active {
  display: inline-flex;
}

.response-container .title {
  margin-left: 0.1rem;
  font-family: Consolas, Monaco, monospace;
}

.response-container .tab-pane {
  position: relative;
}

.response-container #response-headers .card-block, .response-container .response-redirects .card-block {
  padding-left: 0;
}

.response-container #response-headers ol.linenums, .response-container .response-redirects ol.linenums {
  margin-bottom: 0rem !important;
}

.response-container #response-headers ol.linenums li, .response-container .response-redirects ol.linenums li {
  padding-left: 12px;
  color: #bebec5;
  line-height: 1.4rem;
  text-shadow: 0 1px 0 #fff;
}

.response-container #response-headers ol.linenums li .header-name, .response-container .response-redirects ol.linenums li .header-name {
  color: teal;
  width: 12rem;
}

.response-container #response-headers ol.linenums li .header-split, .response-container .response-redirects ol.linenums li .header-split {
  color: #93a1a1;
  width: 0.8rem;
}

.response-container #response-headers ol.linenums li .header-value, .response-container .response-redirects ol.linenums li .header-value {
  color: #D9230F;
  flex: 1;
}

.response-container .CodeMirror {
  border: 1px solid #eee;
  height: auto;
}

.response-container .btn-download-response {
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 999;
  display: none;
  background-color: #FFF;
  padding: .2rem .3rem;
  border: 1px solid #CCC !important;
  font-size: 75%;
  color: #818a91;
  cursor: pointer;
  background-color: transparent;
  border-radius: .25rem;
  background-image: none;
  outline: 0;
}

.response-container .btn-download-response:hover {
  color: #FFF !important;
  background-color: #D9230F;
  outline: 0;
  border-color: #ad1c0c !important;
}

.curl-container {
  margin-bottom: 3 rem;
}

.curl-container .title {
  margin-left: 0.1rem;
  font-family: Consolas, Monaco, monospace;
}

.curl-container .card-block {
  padding: 0.5rem;
}

.curl-container .card-title {
  color: #AAA;
}

.curl-container .btn-group-command {
  position: absolute;
  right: 10px;
  top: 6px;
}

.curl-container .btn-group-command .btn {
  padding: .25rem .5rem;
  font-size: 75%;
  color: #818a91;
  cursor: pointer;
  background-color: transparent;
  border-radius: .25rem;
  background-image: none;
  outline: 0;
}

.curl-container .btn-group-command .btn:hover {
  color: #FFF;
  background-color: #D9230F;
  outline: 0;
  border-color: #ad1c0c;
}

.curl-container #p-curl {
  background: #f8f8f8;
  height: 50px;
  line-height: 22px;
  font-family: monospace;
  font-size: 90%;
  color: #900;
  padding: 10px;
  border-radius: 5px;
  border: #CCC3 solid 1px;
  width: 100%;
}

.curl-container #curl-paste {
  width: 400px;
  height: 100px;
  position: fixed;
  top: -100px;
  left: 0;
  outline: 0;
  border: none;
}

#scroll {
  position: fixed;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  background-color: #D9230F;
  text-indent: -9999px;
  display: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  z-index: 99999;
}

#scroll span {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -8px;
  margin-top: -12px;
  height: 0;
  width: 0;
  border: 8px solid transparent;
  border-bottom-color: #ffffff;
}

#scroll:hover {
  background-color: #e74c3c;
  opacity: 1;
  filter: "alpha(opacity=100)";
  -ms-filter: "alpha(opacity=100)";
}

#fullscreen-progressbar {
  background-image: url("../images/background.jpg");
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 2000;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#fullscreen-progressbar #btn-abort-request {
  position: absolute;
  right: 20px;
  top: 20px;
  line-height: initial;
}

#fullscreen-progressbar .container-progressbar {
  margin-top: 220px;
  position: absolute;
  top: 50%;
  margin-top: -90px;
  width: 100%;
}

#fullscreen-progressbar #time-passed {
  position: fixed;
  left: 10px;
  bottom: 10px;
  text-align: center;
  line-height: 1;
}

#fullscreen-progressbar #time-passed > div {
  display: inline-block;
  margin: 0 30px 15px;
}

#fullscreen-progressbar #time-passed > div > div {
  margin-bottom: 22px;
  font-weight: 200;
  font-size: 48px;
}

#fullscreen-progressbar #time-passed > div > i {
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
}

#fullscreen-progressbar::before {
  background-image: url("../images/overlay.png");
  opacity: 0.75;
  content: "";
  left: 0;
  top: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 0;
}

.modal .form-group.required .form-control-label:after,
.modal .form-group.required .col-form-label:after {
  content: "*";
  color: red;
  margin-left: 4px;
}

.modal .form-group .form-text {
  display: none;
}

.modal .form-group.has-danger .form-text {
  display: inline-block !important;
}

#modal-header input[type="text"] {
  color: #000;
}

#modal-header .abc-checkbox-danger label {
  color: #777;
}

#modal-file-import .modal-body {
  padding: 10px;
}

#modal-file-import .modal-body .dropzone {
  border: 1px dashed #AAA;
  border-radius: 4px;
  width: 100%;
  padding: 30px 10px;
  font-size: 14px;
  text-align: center;
  color: #777;
}

#modal-form-data .modal-body .row {
  padding-left: 35px;
}

#modal-form-data .modal-body .row .col {
  padding-right: 5px;
  padding-left: 0px;
}

#modal-form-data .modal-body .row + .row {
  margin-top: 10px;
}

#modal-oauth .input-group-addon.abc-checkbox input[type="checkbox"], #modal-oauth2 .input-group-addon.abc-checkbox input[type="checkbox"] {
  margin-left: 10px;
}

#modal-oauth .input-group-addon.abc-checkbox label, #modal-oauth2 .input-group-addon.abc-checkbox label {
  margin-left: 0px;
}

#modal-oauth .input-group-addon.abc-checkbox label::before, #modal-oauth2 .input-group-addon.abc-checkbox label::before {
  top: 1px;
}

#modal-oauth .input-group-addon.abc-checkbox label::after, #modal-oauth2 .input-group-addon.abc-checkbox label::after {
  top: 2px;
  left: -1px;
}

#modal-oauth input[readonly], #modal-oauth2 input[readonly] {
  border: 1px solid rgba(0, 0, 0, 0.25);
}

#modal-oauth-preview table,
#modal-oauth2-preview table {
  font-size: 12px;
}

#modal-oauth-preview table th,
#modal-oauth2-preview table th {
  padding: 0.15rem;
  text-align: center;
  font-weight: 200;
  background-color: #D9230F;
  color: #FFF;
  border-bottom: none;
}

#modal-oauth-preview table td,
#modal-oauth2-preview table td {
  padding: 0.15rem;
}

#modal-oauth-preview table td:first-child,
#modal-oauth2-preview table td:first-child {
  text-align: center;
}

#modal-oauth-preview .oauth-preview-header code {
  display: inline-block;
}

#modal-oauth-preview .oauth-preview-header code.name {
  display: inline-block;
  word-wrap: break-word;
  word-spacing: initial;
  word-break: break-all;
  margin-top: -25px;
  margin-left: 120px;
}

#modal-oauth-preview .oauth-preview-url {
  word-wrap: break-word;
  word-spacing: initial;
  word-break: break-all;
}

#modal-oauth2-preview code {
  display: inline-block;
  word-wrap: break-word;
  word-spacing: initial;
  word-break: break-all;
}

.no-favorite-tip {
  color: #FFF;
}

.slideout-menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  width: 312px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  display: none;
  background-color: #fd716d;
}

.slideout-panel {
  position: relative;
  z-index: 1;
  will-change: transform;
  min-height: 100%;
  min-width: 992px;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block !important;
}

/*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/
.hamburger {
  background: transparent;
  border: none;
  display: inline-block;
  height: 32px;
  margin-right: 15px;
  top: 20px;
  width: 32px;
}

.hamburger:hover {
  outline: none;
}

.hamburger:focus {
  outline: none;
}

.hamburger:active {
  outline: none;
}

.hamburger.is-closed:before {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: all .35s ease-in-out;
  color: #ffffff;
  content: '';
  display: block;
  font-size: 14px;
  line-height: 30px;
  opacity: 0;
  text-align: center;
  width: 100px;
}

.hamburger.is-closed:hover before {
  -webkit-transform: translate3d(-100px, 0, 0);
  -webkit-transition: all .35s ease-in-out;
  display: block;
  opacity: 1;
}

.hamburger.is-closed:hover .hamb-top {
  -webkit-transition: all .35s ease-in-out;
  top: 0;
}

.hamburger.is-closed:hover .hamb-bottom {
  -webkit-transition: all .35s ease-in-out;
  bottom: 0;
}

.hamburger.is-closed .hamb-top {
  -webkit-transition: all .35s ease-in-out;
  background-color: rgba(0, 0, 0, 0.4);
  top: 6px;
}

.hamburger.is-closed .hamb-middle {
  background-color: rgba(0, 0, 0, 0.4);
  margin-top: -1px;
  top: 50%;
}

.hamburger.is-closed .hamb-bottom {
  -webkit-transition: all .35s ease-in-out;
  background-color: rgba(0, 0, 0, 0.4);
  bottom: 6px;
}

.hamburger.is-closed .hamb-top, .hamburger.is-closed .hamb-middle, .hamburger.is-closed .hamb-bottom, .hamburger.is-open .hamb-top, .hamburger.is-open .hamb-middle, .hamburger.is-open .hamb-bottom {
  height: 2px;
  left: 0;
  position: absolute;
  width: 100%;
}

.hamburger.is-open .hamb-top {
  -webkit-transform: rotate(45deg);
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
  background-color: rgba(0, 0, 0, 0.7);
  margin-top: -2px;
  top: 50%;
}

.hamburger.is-open .hamb-middle {
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
}

.hamburger.is-open .hamb-bottom {
  -webkit-transform: rotate(-45deg);
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
  background-color: rgba(0, 0, 0, 0.7);
  margin-top: -2px;
  top: 50%;
}

.hamburger.is-open:before {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: all .35s ease-in-out;
  color: #ffffff;
  content: '';
  display: block;
  font-size: 14px;
  line-height: 32px;
  opacity: 0;
  text-align: center;
  width: 100px;
}

.hamburger.is-open:hover before {
  -webkit-transform: translate3d(-100px, 0, 0);
  -webkit-transition: all .35s ease-in-out;
  display: block;
  opacity: 1;
}

#favorite-requests-list {
  display: none;
  padding: 15px;
  color: #FFF;
}

#favorite-requests-list .no-favorite {
  display: none;
}

#favorite-requests-list h3 {
  color: #fff;
}

#favorite-requests-list .badge {
  font-size: 80%;
  margin-right: 0.2rem;
}

#favorite-requests-list .badge.active {
  background-color: #66150d;
  border-color: #290805;
}

#favorite-requests-list .requests-list .card {
  margin-top: 0.4rem;
}

#favorite-requests-list .requests-list .card h4 {
  font-size: 0.75rem;
}

#favorite-requests-list .requests-list .card .card-block {
  padding: 0.5rem 0.35rem 0.25rem 0.35rem;
}

#favorite-requests-list .requests-list .card .card-block .card-text {
  display: block !important;
  color: #666;
  margin-bottom: 0.25rem;
  font-size: 0.7rem;
  word-break: break-all;
}

#favorite-requests-list::-webkit-scrollbar {
  width: 6px;
}

#modal-favorite-save .bootstrap-tagsinput input {
  min-width: 50px;
}

#footer li {
  float: left;
  margin-right: 1.5em;
  margin-bottom: 1.5em;
}
